* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header style  */
header {
  max-width: 1920px;
  max-height: 360px;
  padding: 24px 150px 24px 100px;
  gap: 10px;
  opacity: 0px;
  text-transform: uppercase;
  background-image: linear-gradient(
    to top right,
    #7ebaa4 10%,
    #4833d8 60%,
    #7ebaa4 100%
  );
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: Fixed (1, 296px) px;
  height: Hug (112px) px;
  top: 168px;
  left: 312px;
  gap: 12px;
  opacity: 0px;
  padding: 50px;
}
.navbar-title h1 {
  font-family: Syne;
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;

  color: #ffffff;
}
.navbar-title span {
  font-family: Syne;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}
.navbar-title .nav-title {
  color: #97f793;
}
.number-nav {
  font-family: Syne;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
ul li {
  list-style: none;
  color: #ffffff;
}
nav ul {
  width: 685px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
a {
  text-decoration: none;
  font-family: Syne;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
/* Animated cursor on hover */
a {
  position: relative;
  color: #ffffff;
  transition: color 0.3s ease;
}

a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a:hover::before {
  visibility: visible;
  width: 100%;
}

li:hover a {
  color: #ff5733;
  transition: color 0.3s ease;
}
/* footer style */
.footer-container,
footer {
  width: 100%;
  height: 554px;
  background-color: #191c26;
  color: #ffffff;
  padding: 50px 100px;
}
#nav-footer {
  max-width: 1296px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav-footer ul li {
  opacity: 70%;
  font-family: Syne;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
#nav-footer ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 30px;
}
#footer-info {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#footer-info span {
  opacity: 70%;
}
#footer-item {
  display: flex;
  align-items: center;
  gap: 30px;
}
#footer-item ul {
  display: flex;
  align-items: center;
  gap: 30px;
  width: 150px;
}
.user-description-wrapper {
  padding: 100px;
}
.user-description-wrapper h6 {
  font-family: Syne;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #e374ff;
  text-align: center;
}
.user-description-wrapper h2 {
  font-family: Syne;
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
  color: #1a1d27;
}
.user-description-title {
  width: 678px;
  height: 144px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.user-description {
  max-width: 1296px;
  height: 433px;
  border-radius: 16px;
  background-color: #eceef2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 50px;
}
.user-description section {
  width: 330px;
  height: 257px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.user-description section img {
  width: 60px;
  height: 60px;
}
.user-description p {
  font-family: Syne;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: #1a1d27;
}
.user-description h3 {
  font-family: Syne;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: #1a1d27;
}
.user-description span {
  font-family: Syne;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #1a1d27cc;
}
/* information style */
.information-container {
  max-width: 1920px;
  height: 1140px;
  padding: 100px;
  background-color: #1a1c26;
  color: #fff;
}
.information-main {
  width: 100%;
  height: 496px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.information-title {
  width: 500px;
  height: 496px;
  gap: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.information-image img {
  max-width: 506px;
  height: 485px;
}
.information-title span {
  font-family: Syne;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: #97f793;
}
.information-title h2 {
  font-family: Syne;
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
  text-align: left;
  color: #ffffff;
}
.information-title p {
  font-family: Syne;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}
.information-title ul {
  width: 526px;
  height: 110px;
  gap: 16px;
  opacity: 0px;
}
.information-title ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: Syne;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: #ffffff;
  margin-top: 5px;
}
.information-item-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0px 0px 100px;
  border-top: 1px solid #363841;
  border-left: 1px solid #363841;
  margin-top: 100px;
}
.information-item {
  width: 306px;
  height: 192px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.information-item h5 {
  font-family: Syne;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #ffffff;
}
.information-item p {
  font-family: Syne;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}
.information-item span {
  display: flex;
  align-items: center;
  gap: 20px;
}

.information-item span {
  cursor: pointer;
  transition: color 0.3s ease;
}

.information-item span svg {
  margin-right: 8px;
  transition: transform 0.3s ease, stroke 0.3s ease;
}

.information-item:hover span {
  color: #007bff;
}

.information-item span:hover svg {
  transform: rotate(45deg);
  stroke: #007bff;
}
/* cards style */
.card-container {
  max-width: 1920px;
  max-width: 1428px;
  padding: 100px 100px 0px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card-container img {
  width: 236px;
  height: 320px;
  gap: 0px;
  border-radius: 24px 0px 0px 0px;
  opacity: 0px;
  position: relative;
}
.card-container h3 {
  font-family: Syne;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #1a1d27;
}
.card-container span {
  font-family: Syne;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #1a1d2799;
}
.card-container .card {
  width: 236px;
  height: 320px;
  gap: 24px;
  opacity: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card ul li {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #1a1d27;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.card {
  position: relative;
  margin-bottom: 100px;
}

.card ul {
  position: absolute;
  z-index: 1;
  right: 10px;
  bottom: 180px;
  display: flex;
  gap: 10px;
  list-style: none;
  flex-direction: column;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.card-aboutus {
  padding: 100px;
}
.card-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
  background-color: #97f793;
  border-radius: 16px;
}
.card-link h3 {
  font-family: Syne;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  color: #1a1d27;
}
.card-link i {
  width: 28px;
  height: 28px;
}
.card-link span {
  font-family: Syne;
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1px;
  color: #1a1d27;
  display: flex;
  align-items: center;
  gap: 15px;
}
.card:hover ul {
  opacity: 1;
  transform: translateY(0);
}

.card ul li i {
  font-size: 16px;
  transition: color 0.3s ease;
}

.card ul li i:hover {
  color: #007bff;
}

.card-link span {
  cursor: pointer;
  transition: color 0.3s ease;
}

.card-link span svg {
  margin-right: 8px;
  transition: transform 0.3s ease, stroke 0.3s ease;
}

.card-link:hover span {
  color: #007bff;
}

.card-link:hover span svg {
  transform: rotate(45deg);
  stroke: #007bff;
}
.user-card-container {
  text-align: center;
  padding-top: 50px;
}
.user-card-container h6 {
  font-family: Syne;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  color: #e374ff;
}
.user-card-container h5 {
  width: 722px;
  height: 144px;
  margin: 0 auto;
  font-family: Syne;
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
  text-align: center;
  color: #1a1d27;
}
.card-info {
  width: 256px;
  height: 360px;
  gap: 0px;
  opacity: 0px;
  background-color: #eceef2;
  border-radius: 15px;
  padding: 40px 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-info h2 {
  font-family: Syne;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: left;
  color: #1a1d27;
}
.card-info p {
  font-family: Syne;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #1a1d2799;
  margin-top: 7px;
}
.card-info span {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: Syne;
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1px;
  text-align: left;
  color: #4934db;
  margin-top: 15px;
  cursor: pointer;
}
.card-info img {
  width: 72px;
  height: 72px;
}
/* Logo style */
.logo-container {
  max-width: 1312px;
  height: 351px;
  padding: 100px;
}
figure {
  padding: 50px;
  border-top: 1px solid #e9e9ea;
  border-left: 1px solid #e9e9ea;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user-btn {
  width: 248px;
  height: 56px;
  padding: 20px;
  margin-top: 50px;
  background-color: #1a1d27;
  font-family: Syne;
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
}
.user-btn:hover {
  background-color: #ffffff;
  color: #1a1d27;
}
.city-container {
  max-width: 1920px;
  height: 827px;
  padding: 100px;
}
.city-container h5 {
  font-family: Syne;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #e374ff;
}
.city-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.city-title-container h3 {
  font-family: Syne;
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
  text-align: left;
  color: #1a1d27;
  width: 636px;
  height: 72px;
}
.city-title-container p {
  font-family: Syne;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #1a1d2799;
  width: 526px;
  height: 48px;
}
.city-main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 0px;
}
.city-main-container figure {
  border: none;
}
.city-main-container figure img {
  width: 536px;
  height: 350px;
  border-radius: 24px;
}
.london-city {
  width: 256px;
  height: 200px;
  background-color: #eceef2;
  border-radius: 20px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.city-info-container {
  width: 536px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.london-city ul li {
  color: #1a1d27;
  padding-top: 15px;
}
.info {
  width: 100%;
  flex-direction: row;
  height: 130px;
}
.info ul li {
  padding: 5px;
}
/* solutions style */
.solutions-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px;
  gap: 50px;
}
.solutions-container span {
  color: #e374ff;
  font-family: Syne;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
}
.solutions-container h2 {
  color: #1a1d27;

  font-family: Syne;
  font-size: 64px;
  font-weight: 700;
  line-height: 72px;
  text-align: left;
}
.solutions-container p {
  font-family: Syne;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #1a1d2799;
}
.solutions-container button {
  width: 218px;
  height: 56px;
  padding: 20px;
  gap: 8px;
  opacity: 0px;
}
.solutions-container figure {
  width: 526px;
  height: 520px;
}
.solution-info {
  width: 526px;
  height: 520px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.about-btn {
  height: 218px;
  height: 56px;
  padding: 20px 40px 20px 40px;
  background-color: #1a1d27;
  color: #ffffff;
}
.work-btn {
  height: 218px;
  height: 56px;
  padding: 20px 40px 20px 40px;
  color: #1a1d27;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
/* percentage style */
.percentage-container {
  padding: 100px;
}
.percentage-container span {
  font-family: Syne;
  font-size: 44px;
  font-weight: 700;
  line-height: 54px;
  text-align: left;
  color: #1a1d27;
}
.percentage-container p {
  font-family: Syne;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  color: #1a1d27cc;
  padding-top: 10px;
}
